*,
*::before,
*::after {
    box-sizing: border-box;
}

/*global styles*/
body {
    background-color: #1A1F36;
    color: #FFFFFF;
    margin: 0;
    padding-top: 2rem;
}

.container {
    margin: 0 auto;
    background-color: #3d445c;
    padding: 0.5rem 2rem 1.5rem 2rem;
    margin: 2rem 1rem;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card {
    flex-basis: 100%;
    min-width: 300px;
    max-width: 350px;
    padding: 0.5rem 2rem;
    background-color: #717890;
}

/*images and icons*/
img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
}

.icon {
    width: 20%;
    object-fit: contain;
}

.btn {
    background-color: #1A1F36;
    color: #F4D35E;
    border: 1px solid #FFAA00;
    border-radius: 10%;
}

.bkgrnd-accent {
    background-color: #F4D35E;
}

.txt-accent {
    color: #FFAA00;
}

/* navbar*/
nav {
    width: 100%;
    top: 0;
    position: fixed;
    padding: 0 1.5rem;
    background-color: #1A1F36;
    border-bottom: rgb(77, 72, 69) solid 1px;
    box-shadow: 0 5px 3px rgba(77, 72, 69, 0.2);
    z-index: 5;
}

nav a {
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
  }
  
nav a:active {
    text-decoration: underline;
  }

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-inline-start: 0;
    gap: 1rem;
}

/* banner */
.banner {
    height: min(100vh, 800px);
    background-image: url("banner-bookworm.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cta-box {
    display: inline-block;
    margin-top: 55vh;
    margin-left: 5vw;
    margin-right: 3vw;
    background-color: #3d445c;
    padding: 0.5rem 2rem;
}

/* quote */
.txt-margin {
    margin: 2rem 2rem;
}

/* benefits */
.flex-card {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
}

.flex-card > p {
    text-align: center;
}

/* footer */
.footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
}

form > p {
    margin: 0 0;
}

.footer-icons {
    width: 2rem;
    max-width: 30px;
    background-color: #FFAA00;
    border-radius: 100%;
}

.footer-links {
    text-decoration: none;
}
